alembic==1.4.2
appdirs==1.4.4
astroid==1.6.5
attrs==19.3.0
Automat==20.2.0
autopep8==1.3.5
backcall==0.1.0
bcrypt==3.2.0
beautifulsoup4==4.9.1
black==19.10b0
bleach==3.1.5
blinker==1.4
bs4==0.0.1
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dialogflow==1.0.0
distlib==0.3.1
Django==2.0.7
django-seed==0.1.9
django-tastypie==0.14.1
dnspython==2.0.0
email-validator==1.1.1
entrypoints==0.3
Faker==0.8.17
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Dance==3.0.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
fuzzywuzzy==0.18.0
get==2019.4.13
gnewsclient==1.12
google-api-core==1.21.0
google-auth==1.18.0
googleapis-common-protos==1.52.0
grpcio==1.30.0
gunicorn==20.0.4
html5lib==1.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.4
itemadapter==0.1.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterthemes==0.20.0
kiwisolver==1.2.0
lazy-object-proxy==1.3.1
lesscpy==0.14.0
lxml==4.5.1
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numpy==1.18.4
oauthlib==3.1.0
opencv-python==4.3.0.36
packaging==20.3
pandas==1.0.5
pandocfilters==1.4.2
parsel==1.6.0
parso==0.7.0
passlib==1.7.2
pathspec==0.8.0
pickleshare==0.7.5
Pillow==7.2.0
pipenv==2020.6.2
ply==3.11
post==2019.4.13
prometheus-client==0.7.1
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.12.2
psycopg2==2.8.5
public==2019.4.13
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.4.0
pycparser==2.20
PyDispatcher==2.0.5
pygal==2.4.0
Pygments==2.6.1
PyHamcrest==2.0.2
pylint==1.9.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.7.3
python-editor==1.0.4
python-mimeparse==1.6.0
python-telegram-bot==12.8
pytz==2018.5
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
query-string==2019.4.13
queuelib==1.5.0
regex==2020.7.14
request==2019.4.13
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.1
scipy==1.5.1
Scrapy==2.2.0
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.11.0
sklearn==0.0
soupsieve==2.0.1
SQLAlchemy==1.3.19
telegram==0.0.1
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.2
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
Twisted==20.3.0
typed-ast==1.4.1
urllib3==1.25.9
URLObject==2.4.3
virtualenv==20.0.30
virtualenv-clone==0.5.4
w3lib==1.22.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.10.11
WTForms==2.3.3
zope.interface==5.1.0
