<!doctype html>
<html lang="en">
  <head>
  	<title>Expense Tracker</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css1/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  </head>
  <body style="overflow-x: hidden;">
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url({{url_for('static',filename='profile_pics/'+current_user.profile_image)}});"></a>
          <h3 style="color: #f8b739; font-family: Poppins, Arial, sans-serif; text-align: center;">Hi {{current_user.name}}</h3>
          <br>
          <br>
          <ul class="list-unstyled components mb-5">
	    
	          <li class="active">
	            <a href="{{url_for('dashboard')}}" >Dashboard</a>
	          </li> 
	          
            <li>
              <a href="{{url_for('passbook')}}">PassBook</a>
            </li>
                         
            <li>
              <a href="{{url_for('profile')}}">Profile</a>
            </li>
            <li>
              <a href="{{url_for('instructions')}}">Instructions</a>
          </li>
	          <li>
              <a href="{{url_for('logout')}}">Sign Out</a>
            </li>
           
	        </ul>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
         
            <button class="btn btn-dark ml-auto d-inline-block" data-toggle="modal" data-target="#transaction">Add Transaction</button>

          </div>
        </nav>
          {% for mess in get_flashed_messages() %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button
              type="button"
              class="fad close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            {{mess}}
          </div>
          {% endfor %}
        <div class="row">
          <div class="col-md-6">
            <h4 style="font-family: Montserrat; color: #444;"><span style="color: grey; font-size: large;">Total Balance &nbsp &nbsp </span>{{totalBal}}</h4>
          </div>
          <div class="col-md-6">
            {%if leftBal>=0%}
            <h4 style="font-family: Montserrat; color: #444;"><span style="color: grey; font-size: large;">Remaining Budget &nbsp &nbsp </span><span style="color: green;">{{leftBal}}</span></h4>
            {%else%}       
            <h4 style="font-family: Montserrat; color: #444;"><span style="color: grey; font-size: large;">Overspent &nbsp &nbsp </span><span style="color: red;">{{(-leftBal)}}</span></h4>
            {%endif%}
          </div>
        </div>
        <br>

        <!-- <div class="container"> -->
          <div class="row">
            <div class="col-md-6">
              <em style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #444; font-weight: bold;">
                Monthly Categorized Expenditure</em>
              
              <div class="chart" id="catChart" style="display: inline-block;width: 100%">
                <script>
                  var graphs = {{ plot | safe}};
                  Plotly.plot('catChart', graphs, {});
                </script>
              </div>
            </div>
            <div class="col-md-6">
              <em
                style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #444; font-weight: bold;">
                Yearly Savings</em>
              <div class="chart" id="savingGraph" style="display: inline-block;width: 100%">
                <script>
                  var graphs = {{ plot4 | safe}};
                  Plotly.plot('savingGraph', graphs, {});
                </script>
              </div>
           
              <div class="chart" id="savingGraph" style="display: inline-block;width: 100%">
                <script>
                  var graphs = {{ plot5 | safe}};
                  Plotly.plot('savingGraph', graphs, {});
                </script>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <em
                    style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #444; font-weight: bold;">
                Daily Expenditure of this month</em>
                <div class="chart" id="baseGraph">
                  <script>
                    var graphs = {{ plot2 | safe}};
                    Plotly.plot('baseGraph', graphs, {});
                  </script>
                </div>
                <div class="chart" id="baseGraph">
                  <script>
                    var graphs = {{ plot3 | safe}};
                    Plotly.plot('baseGraph', graphs, {});
                  </script>
                </div>
              </div>
            </div>    
        </div>
      <!-- </div> -->
		</div>



<!-- Modal -->
<div class="modal fade" id="transaction" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="transactionform">
          {{transForm.hidden_tag()}}
          <div class="form-group row">
            <div class="col-sm-10">
              {% for subfield in transForm.flow %}
              <tr >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
              </tr>
              {% endfor %}
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">
              {{transForm.amount(class='form-control',maxlength=18)}}
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              {{transForm.description(class='form-control',maxlength=20)}}
          
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
              {{transForm.date(class='datepicker form-control')}}
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
              {{transForm.category(class='dropdown form-control')}}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{transForm.submit(class="btn btn-primary",form="transactionform",id="trans",onsubmit="alert('thank you')")}}
      </div>
    </div>
  </div>
</div>

    <script src="{{ url_for('static', filename='js1/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/popperjs') }}"></script>
    <script src="{{ url_for('static', filename='js1/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/main.js') }}"></script>
  </body>
</html>