<!doctype html>
<html lang="en">

<head>
    <title>Expense Tracker</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css1/style.css') }}">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url({{url_for('static',filename='profile_pics/'+current_user.profile_image)}});"></a>
                <h3 style="color: #f8b739; font-family: Poppins, Arial, sans-serif; text-align: center;">Hi {{current_user.name}}</h3>
                <br>
                <br>
               
                <ul class="list-unstyled components mb-5">

                    <li>
                        <a href="{{url_for('dashboard')}}">Dashboard</a>
                    </li>

                    <li >
                        <a href="{{url_for('passbook')}}">PassBook</a>
                    </li>

                    <li >
                        <a href="{{url_for('profile')}}">Profile</a>
                    </li>
                    <li class="active"> 
                        <a href="{{url_for('instructions')}}">Instructions</a>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}">Sign Out</a>
                    </li>

                </ul>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
            </nav>
            
            <div class="container">
                <div class="jumbotron">
                    <center><span style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:x-large">Instructions</span></center>
                    <br>
                    <ul>
                        <li>Complete your profile before making any transactions.</li>
                        <li>Do not include Rs or any other sign while enetering amount in profile or transactions form.</li>
                        <li>Add your Salary every month as a CashIn, Salary transaction.</li>
                        <li>Note the format for entering date of transaction carefully.</li>
                        <br>
                        <span>GRAPHS</span>
                        <li>The categories chart shows the monthly categorized expenditure.</li>
                        <li>The yearly savings chart shows your net savings and monthly saving which are calculated corresponding to budget.</li>
                        <li>Changing Budget, changes budget for all the previous months too.</li>
                        <li>Daily Expenditure Chart shows your current months daily and total expenditure.</li>
                    </ul>
                </div>
                
            </div>

        </div>
    </div>



    <script src="{{ url_for('static', filename='js1/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/popperjs') }}"></script>
    <script src="{{ url_for('static', filename='js1/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/main.js') }}"></script>
</body>

</html>