<!doctype html>
<html lang="en">

<head>
    <title>Expense Tracker</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css1/style.css') }}">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url({{url_for('static',filename='profile_pics/'+current_user.profile_image)}})"></a>
                <h3 style="color: #f8b739; font-family: Poppins, Arial, sans-serif; text-align: center;">Hi {{current_user.name}}</h3>
                <br>
                <br>
                <ul class="list-unstyled components mb-5">

                    <li>
                        <a href="{{url_for('dashboard')}}">Dashboard</a>
                    </li>
                
                    <li class="active">
                        <a href="{{url_for('passbook')}}">PassBook</a>
                    </li>
                
                    <li>
                        <a href="{{url_for('profile')}}">Profile</a>
                    </li>
                    <li>
                        <a href="{{url_for('instructions')}}">Instructions</a>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}">Sign Out</a>
                    </li>

                </ul>

            </div>
        </nav>
        
   
        <!-- Page Content  -->
        
        

        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    
                    <form action="search" , method="GET">
                        <div class="container h-50">
                            <div class="d-flex justify-content-center h-100">
                                <input type="search" class="form-control ds-input" id="search-input" name="query" placeholder="Search..." aria-label="Search for..."
                                    autocomplete="off" data-docs-version="4.5" spellcheck="false" role="combobox" aria-autocomplete="list"
                                    aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto"
                                    style="position: relative; vertical-align: top;">
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
            {% for mess in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <button
                type="button"
                class="fad close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              {{mess}}
            </div>
            {% endfor %}
            <br>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Credit/Debit</th>
                        <th scope="col">Date (d/m/y)</th>
                        <th scope="col">Amount</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {%for r in trans_data%}
                    <tr>
                        <th scope="row">{{loop.index0 + 1}}</th>
                        <!-- <th scope="row">{{r.id}}</th> -->

                        <td>{{r.cat}}</td>
                        <td>{{r.description}}</td>
                        {%if r.cashFlow == 1 %}
                        <td>Cash In</td>
                        {%else%}
                        <td>Cash Out</td>
                        {%endif%}
                        <td>{{r.date.strftime('%d-%m-%Y')}}</td>
                        <td>{{r.amount}}</td>
                        <td><button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#del{{r.id}}">
                            Delete
                        </button></td>
                        <div class="modal fade" tabindex="-1" role="dialog" id="del{{r.id}}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Post Pop up Modal</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this Transaction ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Cancel
                                        </button>
                        
                                        <form action="{{url_for('delete', row_id=r.id) }}" method="POST">
                                            <input class="btn btn-danger" type="submit" value="Delete" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

    


    <script src="{{ url_for('static', filename='js1/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/popperjs') }}"></script>
    <script src="{{ url_for('static', filename='js1/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/main.js') }}"></script>
</body>

</html>