<!doctype html>
<html lang="en">

<head>
    <title>Expense Tracker</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css1/style.css') }}">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../static/images1/logo.jpg);"></a>
                <ul class="list-unstyled components mb-5">

                    <li>
                        <a href="{{url_for('dashboard')}}">Dashboard</a>
                    </li>

                    <li >
                        <a href="{{url_for('passbook')}}">PassBook</a>
                    </li>

                    <li class="active">
                        <a href="{{url_for('profile')}}">Profile</a>
                    </li>
                    
                    <li>
                        <a href="{{url_for('index')}}">Sign Out</a>
                    </li>
                </ul>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            
                            <li class="nav-item">
                                <button class="btn btn-dark ml-auto d-inline-block">Sign Out</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <form method="POST">
                {{proForm.hidden_tag()}}
                <div class="form-group row" >
                    
                    <div  style="margin: 0 auto 0" >
                        <label for="file-input">
                           <img class="rounded-circle" height="150px" width="150px" src="../static/img/team/1.jpg" />
                        </label>
                        {{proForm.image(style="display:none;", id="file-input")}}
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        {{proForm.name(class='form-control')}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        {{proForm.email(class="form-control")}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Income</label>
                    <div class="col-sm-10">
                        {{proForm.income(class='form-control')}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Budget</label>
                    <div class="col-sm-10">
                        {{proForm.budget(class='form-control')}}
                    </div>
                </div>

                <div class="form-group row">
                    <div style="margin:0 auto 0">
                        {{proForm.submit(class='btn btn-dark')}}
                    </div>
                </div>
            </form>
        </div>
    </div>



    <script src="{{ url_for('static', filename='js1/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/popperjs') }}"></script>
    <script src="{{ url_for('static', filename='js1/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/main.js') }}"></script>
</body>

</html>